body {
  height: 100vh;
}

#almostEntire {
  height: calc(100vh - 32.4px);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #f7f8fa;
}

#bigTitleRest {
  font-family: "Semibold";
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding-top: 16px;
  position: relative;
  color: var(--700);
}

#BottomBox {
  position: fixed;
  bottom: 36px;
  height: auto;
  width: 328px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 16px;
}

#RestPlaceInfoBanner {
  margin-top: 39px;
  margin-bottom: 24px;
  margin-left: 24px;
  height: 42px;
  width: 312px;
  display: flex;
}

#smallImage {
  width: 42px;
  height: 42px;
  background: url("/assets/img/restPlace.png");
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
}

#rightSide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 12px;
}

#graySemi {
  font-size: 14px;
  color: var(--400);
}

#graySemiMargin {
  font-family: "Regular";
  font-size: 14px;
  color: var(--400);
  margin-top: 5px;
}

#Modal {
  height: auto;
  width: calc(100%-32px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0px 16px;
  border-radius: 16px;
  border: 1px solid var(--100);
  background: var(--White, #fff);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.02);
}

#HowistheRest {
  height: auto;
  width: calc(100%-62px);
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}

#RatingBigBox {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#plusInfoWrapper {
  width: 100%;
  display: flex;
  margin: 16px 0px;
}

#plusInfo {
  color: var(--500);
  font-family: "Semibold";
  font-size: 14px;
}

#EntireRow {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.rightStar {
  margin-left: 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#writeReviewBtn {
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  width: calc(80% - 8px);
  height: 48px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--mainColor);
  font-family: "Semibold";
}
#writeContinueBtn {
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid var(--mainColor);
  width: calc(80% - 8px);
  height: 48px;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--white);
  font-family: "Semibold";
}

#purpleMessage {
  position: relative;
  top: 3px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: 222px;
  height: 30px;
  background-color: #8081e5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: var(--white);
  font-family: "Semibold";
}

#triangle-down {
  position: relative;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #8081e5;
}

#themeLogo {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  color: #6ccae1;
  margin-top: 1px;
}
