#splashFont {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes balloonAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

#splashBalloon {
  width: 68px;
  height: 71px;
  position: fixed;
  top: 38.7%;
  right: 5%;
  transform: translate(-50%, -50%);
  animation: balloonAnimation 0.6s;
}
