/* Global CSS 적용  */
/*글꼴명 : Bold, Semibold, Medium, Regular*/
/*기본은 Regular로 설정 */
/* 스타일 시스템은 root CSS와 이 파일 참고*/
@font-face {
  font-family: "Bold";
  src: url(/assets/fonts/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Semibold";
  src: url(/assets/fonts/Pretendard-SemiBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Medium";
  src: url(/assets/fonts/Pretendard-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url(/assets/fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 400;
}

/*Global Style 적용*/
* {
  margin: 0;
  padding: 0;
  font-family: "Regular";
}

:root {
  --mainColor: #6ccae1;
  --white: #ffffff;
  --200: #e0e4ec;
}

#mobileWrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 900px;
  display: flex;
  justify-content: center;
  background-color: black;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: white;
  :focus {
    outline: none;
  }

  textarea {
    resize: none;
    background: white;
  }
}

#app {
  background-color: #ffffff;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 390px;
  min-width: 360px;
  height: 900px;
}

#sideMargin {
  width: calc(100%-32px);
  margin: 0 16px;
}

#sideBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#sideMarginBetween {
  width: calc(100%-32px);
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
}

#grayLine {
  width: 100%;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

#bigTitle {
  font-family: Semibold;
}

#backWrapper {
  width: 100%;
  height: 48px;
}

#back {
  padding-left: 9px;
  padding-top: 12px;
  width: 24px;
  height: 24px;
}

select {
  width: 100%;
  height: 46px;
  border: 1.2px solid #979a9f;
  border-radius: 6px;
  color: #646774;
  font-family: "Regular";
  font-size: 14px;
  background: transparent;
  appearance: none;
  background: url(/assets/img/downArrow.png) no-repeat right 10px center;
  background-size: 24px;
  padding-left: 10px;
}

#toggleBtn {
  width: 126px;
  height: 50px;
  flex-shrink: 0;
}

/* 버튼 컴포넌트 css */
#lineBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(--white);
  color: var(--mainColor);
  border: 0.79px solid var(--mainColor);
  border-radius: 4px;
}

#fillBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(--mainColor);
  color: var(--white);
  border: 0.79px solid var(--mainColor);
  border-radius: 4px;
}

#disabledBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(-200);
  color: var(--white);
  border: 0.79px solid var(--200);
  border-radius: 4px;
}
