/* Global CSS 적용  */
/*글꼴명 : Bold, Semibold, Medium, Regular*/
/*기본은 Regular로 설정 */
/* 스타일 시스템은 root CSS와 이 파일 참고*/
@font-face {
  font-family: "Bold";
  src: url(/assets/fonts/Pretendard-SemiBold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Semibold";
  src: url(/assets/fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Medium";
  src: url(/assets/fonts/Pretendard-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url(/assets/fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 400;
}

/*Global Style 적용*/
* {
  margin: 0;
  padding: 0;
  font-family: "Regular";
  font-size: 16px;
}

:root {
  --mainColor: #6ccae1;
  --white: #ffffff;
  --100: #eff0f5;
  --150: #f7f8fa;
  --200: #e0e4ec;
  --300: #c2c5cf;
  --400: #999ba5;
  --500: #646774;
  --600: #404553;
  --700: #32323b;
  --800: #202026;
  --900: #1a1a1a;
}

#heading3bold {
  color: var(--700, #32323b);
  font-family: "Bold";
  font-size: 18px;
}

#body2semibold {
  color: var(--500);
  font-family: "Semibold";
  font-size: 12px;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: white;
  :focus {
    outline: none;
  }

  textarea {
    resize: none;
    background: white;
  }
}

#mobileWrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: black;
}

#app {
  background-color: #ffffff;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 390px;
  min-width: 360px;
  height: auto;
}

#sideMargin {
  width: calc(100%-32px);
  margin: 0 16px;
}
#sidePadding {
  width: calc(100%-32px);
  padding: 0 16px;
}

#sideBetween {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#sideMarginBetween {
  width: calc(100%-32px);
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
}

#grayLine {
  width: 100%;
  border-bottom: 1px solid rgba(235, 235, 235, 1);
}

#bigTitle {
  font-family: Semibold;
}

#backWrapper {
  width: 100%;
  height: 48px;
}

#back {
  padding-left: 9px;
  padding-top: 12px;
  width: 24px;
  height: 24px;
}

select {
  width: 100%;
  height: 46px;
  border: 1.2px solid #979a9f;
  border-radius: 6px;
  color: #646774;
  font-family: "Regular";
  font-size: 14px;
  background: transparent;
  appearance: none;
  background: url(/assets/img/downArrow.png) no-repeat right 10px center;
  background-size: 24px;
  padding-left: 10px;
}

/* 버튼 컴포넌트 css */
#lineBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(--white);
  color: var(--mainColor);
  border: 0.79px solid var(--mainColor);
  border-radius: 4px;
}

#fillBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(--mainColor);
  color: var(--white);
  border: 0.79px solid var(--mainColor);
  border-radius: 4px;
}

#disabledBtn {
  width: 100%;
  height: 44px;
  font-family: "Semibold";
  font-size: 14px;
  background-color: var(-200);
  color: var(--white);
  border: 0.79px solid var(--200);
  border-radius: 4px;
}

/* 상단바 */
#bigTitle {
  font-family: "Semibold";
  font-size: 14px;
  text-align: center;
  padding-left: 10px;
  padding-top: 12px;
  position: relative;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
}

#smallStar {
  width: 14.365px;
  height: 14px;
  margin: 2px;
}

#bigStar {
  width: 22px;
  height: 22px;
  padding-top: 5px;
}

#starBox {
  width: auto;
  display: flex;
}

/*자주 사용하는 퐅트 CSS*/
#titleFont {
  color: var(--600);
  font-family: "Semibold";
  font-size: 16px;
}

#mediumImg {
  border-radius: 8px;
  width: 76px;
  height: 76px;
}

/*자주사용하는 아이콘 사이즈*/
#bigImg {
  width: 24px;
  height: 24px;
}

#basicImg {
  width: 16px;
  height: 16px;
}

#smallImg {
  width: 14px;
  height: 14px;
}
