/* Global CSS 적용  */
/*글꼴명 : Bold, Semibold, Medium, Regular*/
/*기본은 Regular로 설정 */
/* 스타일 시스템은 root CSS와 이 파일 참고*/
@font-face {
  font-family: "Bold";
  src: url(/assets/fonts/Pretendard-Bold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Semibold";
  src: url(/assets/fonts/Pretendard-SemiBold.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Medium";
  src: url(/assets/fonts/Pretendard-Medium.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Regular";
  src: url(/assets/fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 400;
}

/*Global Style 적용*/
* {
  margin: 0 auto;
  padding: 0;
  font-family: "Bold";
}

:root {
  --mainColor: #52b4cc;
}

#mobileWrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 900px;
  display: flex;
  justify-content: center;
  background-color: black;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  background: white;
  :focus {
    outline: none;
  }

  textarea {
    resize: none;
    background: white;
  }
}

#app {
  background-color: #ffffff;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 390px;
  min-width: 360px;
  height: 900px;
  margin: 0 auto;
}

#sideMargin {
  margin-left: 16px;
  margin-right: 16px;
}

#backWrapper {
  width: 100%;
  height: 48px;
}

#back {
  padding-left: 9px;
  padding-top: 12px;
  width: 24px;
  height: 24px;
}

select {
  width: 100%;
  height: 46px;
  border: 1.2px solid #979a9f;
  border-radius: 6px;
  color: #646774;
  font-family: "Regular";
  font-size: 14px;
  background: transparent;
  appearance: none;
  background: url(/assets/img/downArrow.png) no-repeat right 10px center;
  background-size: 24px;
  padding-left: 10px;
}
